// sass for ModernTunes.view.home.MainView
.mainview {
  body {
    background-color: #000;
  }
  .as {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: mistyrose;
  }

}

.imgWrapper {
  display: table;
  margin: 0 auto;
}

.grid-image {
  height: 50px;
}